@import url("https://use.typekit.net/eia7dfc.css");

:root {

	/* Main text var */
	--text-color: #fdf8f3;

	/* Image var */
	--image: url("..//images/bg_website_circuitboard.jpg")
		no-repeat fixed center;

	/* Font */
	--futura: futura-pt, sans-serif;

  /* Color Config */
  --bg-color: #444343;
  --bg-nav-color: #333;
  --accent: #247073;
}

/* Main body */
body {
    font-family: var(--futura);
    font-weight: 600;
    font-style: normal;
    overflow: hidden;
    background: var(--image);
    background-color: var(--bg-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Add the bg color */
.topnav {
    background-color: var(--bg-nav-color);
    overflow: hidden;
    box-shadow: 1px 1px 10px #333;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.line-5 {
    height: 20px;
    background: linear-gradient(
      to bottom,
      var(--accent) 3px,
      transparent 3px
    );
    border-radius: 3px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: var(--accent);
    color: white;
  }

  .big_h_txt {
    padding: 15%;
    color: white;
    text-align: center;
  }